@font-face {
  font-family: "bebas-neue";
  src: url(./fonts/bebas-neue/bebasNeue-regular.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "calibri";
  src: url(./fonts/calibri/calibri-regular.ttf);
  font-weight: 900;
}

body {
  background-color: #4e82cc;
  margin: 0;
  font-family: calibri;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
