@font-face {
  font-family: "bebas-neue";
  src: url(./fonts/bebas-neue/bebasNeue-regular.ttf);
  font-weight: 900;
}

/* Calibri  */
@font-face {
  font-family: "calibri-bold-italic";
  src: url(./fonts/calibri/calibri-bold-italic.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "calibri-bold";
  src: url(./fonts/calibri/calibri-bold.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "calibri-italic";
  src: url(./fonts/calibri/calibri-italic.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "calibri-light-italic";
  src: url(./fonts/calibri/calibri-light-italic.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "calibri-light";
  src: url(./fonts/calibri/calibri-light.ttf);
  font-weight: 900;
}

body {
  background-color: #4e82cc;
  margin: 0;
  font-family: calibri;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
