@import "./constants";

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

$btn-link-hover-color: pink;
$bg-img: url("../Assets/login-background.png");


.flex {
    display: flex;
    width: inherit;

    &.row {
        flex-direction: row;
        margin-bottom: 10px;
        align-items: center;
    }

    &.col {
        flex-direction: column;

    }
}


.admin-login-page {
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vh;
    align-items: center;
}

.slack-logo {
    width: 10vh;
}

.hacklahoma {
    font-family: bebas-neue;
  color: $white;
  font-weight: bolder;
  font-size: 4rem;
  text-align: center;
  margin-top: 0;
}

.card-title {
    font-weight: bold;
    font-size: 200%;
    color: $white;
    margin: 0 0 5px 0;
    text-align: center;
}

.admin-card {
    width: 350px;
    border-radius: 25px;
    background-color: $light-blue;
    margin: 0 auto;

}


@media (max-width: 480px) {
    .login-card {
      // width: 350px;
      width: calc(100vw - 24px);
    }
  }

